<template>
    <div >
        <!-- 三维场景 -->
        <div ref="containerth" id="containerth"></div>
        <!-- 页面内容 -->
        <div class="buttgroup">
                <!-- 12.27：新增操作按钮 -->
                红外报警器灯：
                <el-switch
                    v-model="switchValue"
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    @change="redlightmqtt"
                    >
                </el-switch><br/>
                烟感报警器：<el-switch
                    v-model="smokeValue"
                    active-color="#13ce66"
                    inactive-color="#ff4949">
                </el-switch>
                
                家居灯光：<el-switch
                    v-model="homelightValue"
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    @change="homelightchange">
                </el-switch>
                
                家居大门开关：<el-switch
                    v-model="opendoorhome"
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    @change="doorhomecontrol">
                </el-switch>
                <el-input v-model="inputmqtt"></el-input>
                <el-button @click="runmqtt">运行mqtt</el-button>
        </div>
    </div>
</template>

<script>
// 1、引入three
import * as THREE from "three";
// 2、引入鼠标控制器
import { OrbitControls } from "three/examples/jsm/controls/OrbitControls";
//3、引入模型加载器
import { GLTFLoader } from "three/examples/jsm/loaders/GLTFLoader";
import { d3mqtt } from "./mqtt";
export default {
    
data(){
    //存放数据
    this.alarmEquipmentLight=null;//定义红外灯光初始值
    this.smokeEquipmentLight=null;//定义烟感灯光初始值
    this.homeLightEquipment=null;//定义家居灯光初始值
    this.mixerdoorhome =null;//定义混合动画
    this.actiondoorhome = null;//定义动画动作

    this.gltfmodelinfo = [
          {
              path: 'https://yk-content-1301443531.file.myqcloud.com/iotfont/3d/home9.gltf',
              animation: [],
          },
          {
              path: "https://yk-content-1301443531.file.myqcloud.com/iotfont/3d/curtain4.gltf",
              animation: [],
          },
        //   {
        //       path: "/Model/cj1.2/tkhz.gltf",
        //       animation: [],
        //   },
      ];//模型地址
    return{
        loadedCount:0,//模型加载参数
        switchValue:false,//红外控制开关参数
        smokeValue:false,//烟感控制开关参数
        homelightValue:false,//家居灯光参数
        opendoorhome:false,//家居大门参数
        mqttinfo: null,
        inputmqtt:'',//mqtt  topic参数
    }
},
//页面挂载
mounted(){
    this.init()
    this.render()
   
    

},
beforeDestroy() {
      this.mqttinfo.stop();
  },
methods:{

// 页面方法
init(){
    //1、场景容器
    const containerth =this.$refs.containerth;
    //2、定义容器的宽高
    const width =containerth.clientWidth;
    const height = containerth.clientHeight;
    //3、定义新建场景
    this.scene = new THREE.Scene();
    this.scene.background =new THREE.Color(0x00BFFF);//场景背景颜色
    // console.log(this.scene)
    //4、定义新建相机(透视相机)
    this.camera =new THREE.PerspectiveCamera( 45, width / height, 1, 10000 );
    this.camera.position.set(50,60,40)//设置相机角度11.27
    //5、新建渲染器
    this.renderer=new THREE.WebGLRenderer({
        // 抗锯齿
        antialias:true,
        // 阿尔法通道
        alpha:true,
    })
    this.renderer.setSize(width,height)
    containerth.appendChild(this.renderer.domElement);
    //6、新建灯光（环境光）：灯光颜色：十六进制
    this.ambientLight=new THREE.AmbientLight( 0x404040,1 );
    this.dirLight = new THREE.DirectionalLight(0xffffff,1);//12.27：新增太阳光并控制太阳光位置
      this.dirLight.position.x = 100;
      this.dirLight.position.y = 100;
      this.dirLight.position.z = 100;
    const floorGeometry =new THREE.PlaneGeometry(300,300);//12.27：创建平面缓冲几何体
    const floorMaterial = new THREE.MeshBasicMaterial({//12.27：创建材质
        color:0xFFFFFF,
        side:THREE.DoubleSide,
    })
    const floor =new THREE.Mesh(floorGeometry,floorMaterial)//12.27将材质和几何体组合成网格模型
    floor.rotation.x=-Math.PI/2//11.27将floor旋转90°
    this.scene.add(floor)//11.27将floor添加到场景中
    //7、将灯光添加到场景中
    this.scene.add(this.ambientLight,this.dirLight);
    //8、新建鼠标控制器
    this.controls=new OrbitControls(this.camera,containerth);
    //9、设置场景中心坐标转化值
    const center =new THREE.Vector3(0,0,0);
    //10、鼠标控制器同步中心点
    this.controls.target.copy(center);
    // 11、三维页面自适应网页大小
    window.addEventListener(
              "resize",
              () => {
                  if (this.camera) {
                      this.camera.aspect = window.innerWidth / window.innerHeight;
                  }
                  this.camera.updateProjectionMatrix();
                  this.renderer.setSize(window.innerWidth, window.innerHeight);
              },
              false
          );
    //12、加载模型
    const loadGLTFmodel = (url) => {
              this.loadedCount++;
            //   console.log("加载模型", this.loadedCount);
              const loader = new GLTFLoader();
              loader.load(url, (gltf) => {
                //12.27：获取子元件报警灯
                //12.27：为报警灯添加点光源
                //   12.27红外报警器
                  this.alarmEquipment=gltf.scene.getObjectByName("报警灯")
                  this.alarmEquipmentLight=new THREE.PointLight(0xd50000,1)
                  this.alarmEquipmentLight.distence=3
                  this.alarmEquipment.add(this.alarmEquipmentLight)
                //   12.27烟感报警器：从场景模型中拿到设备并添加点光源
                  this.smokeEquipment=gltf.scene.getObjectByName("报警器")
                  this.smokeEquipmentLight=new THREE.PointLight(0x00FF00,1)
                  this.smokeEquipmentLight.distence=3
                  this.smokeEquipment.add(this.smokeEquipmentLight)
                  //12.27家居灯光
                  this.homeLightEquipment=gltf.scene.getObjectByName("灯1-灯片1")//灯光设备
                  this.homeLight=new THREE.RectAreaLight(
                    0xffffff,
                    20,//光照强度
                    12,//宽
                    0.1//高
                  );
                this.homeLight.lookAt(-1,0,0)
                this.homeLightEquipment.add(this.homeLight)//设备中添加片光源
                this.homeLight.visible=false//灯光是否显示
                //12.28获取家居门动画效果
                this.mixerdoorhome = new THREE.AnimationMixer(gltf.scene)//获取模型动画
                const clip = gltf.animations[0] //定义动画帧
                console.log(gltf);
                this.actiondoorhome = this.mixerdoorhome.clipAction(clip)
                this.scene.add(gltf.scene);
              });
          };
              loadGLTFmodel(this.gltfmodelinfo[0].path);
},
runmqtt(){
    this.mqttinfo = new d3mqtt(this.inputmqtt)//传入订阅的主题
    this.mqttinfo.run()//运行mqtt
},
//接收mqtt消息
setmqttdata(data) {
     if(data.message.sid=='dd'){
        this.homelightValue = data.message.data == 1 ? true : false;
        this.homelightchange()
     }
},
//红外报警发送mqtt消息
redlightmqtt(){
    const message = {
        sid: "dd",
        status: this.homeLight ? 0 : 1,
      };
      this.mqttinfo.sendMessage(JSON.stringify(message));
},
// 12.27控制光源闪烁方法家居
homelightchange(){
if(this.homelightValue==true&&this.homeLight!==null){
    //灯光显示
    this.homeLight.visible=true
}else{
    //灯光隐藏
    this.homeLight.visible=false
}
},
//家居大门开关动画控制
doorhomecontrol(){
    if(this.actiondoorhome){
        if(this.opendoorhome==true){
            //如果开关为开，获取并设置门动画持续时间
            this.actiondoorhome.setDuration(3).play()//动画播放开始动作
            this.actiondoorhome.setLoop(THREE.LoopOnce)//仅播放一次
            this.actiondoorhome.paused = false; //播放完毕暂停
            this.actiondoorhome.time = 0; //时间为0
            this.actiondoorhome.timeScale = 1
            this.actiondoorhome.clampWhenFinished =true;
        }else{
            this.actiondoorhome.setDuration(3).play()//动画播放开始动作
            this.actiondoorhome.setLoop(THREE.LoopOnce)//仅播放一次
            this.actiondoorhome.paused = false; //播放完毕暂停
            this.actiondoorhome.time = 2; //播放后半段，将时间设置为中点位置
            this.actiondoorhome.timeScale = -1 //反向播放速度
            
        }
    }
},
//加载渲染器（总）
render(){
    requestAnimationFrame(this.render.bind(this));
      this.controls.update();
    //   12.27控制光源闪烁
    //  渲染场景和相机
    this.renderer.render(this.scene,this.camera)
    if (this.mixerdoorHome) {
        this.mixerdoorHome.update(0.016);
      }
    //11.27控制红外灯光闪烁动画
    if(this.switchValue==true&&this.alarmEquipmentLight!==null){
        this.alarmEquipmentLight.intensity = Math.abs(
            Math.sin(Date.now()*0.005)
        )
    }else if(this.switchValue==false&&this.alarmEquipmentLight!==null){
        this.alarmEquipmentLight.intensity=0
    }
    // 11.27烟感灯闪烁动画
    if(this.smokeValue==true&&this.smokeEquipmentLight!==null){
        this.smokeEquipmentLight.intensity = Math.abs(
            Math.sin(Date.now()*0.005)
        )
    }else if(this.smokeValue==false&&this.smokeEquipmentLight!==null){
        this.smokeEquipmentLight.intensity=0
    }
    
}
}
}
</script>

<style>
/* 页面样式 */
#containerth{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    /* 相对定位 */
}
.buttgroup{
    /* 绝对定位 */
    overflow: hidden;
    position: absolute;

}
</style>