<template>
  <div>
    <div id="container" />
  </div>
</template>

<script>
import * as THREE from "three";
import { OrbitControls } from "three/examples/jsm/controls/OrbitControls.js";
// import { FirstPersonControls } from 'three/examples/jsm/controls/FirstPersonControls.js'
import { FBXLoader } from "three/examples/jsm/loaders/FBXLoader";
import Stat from "three/examples/jsm/libs/stats.module.js";
import * as dat from "dat.gui";

export default {
  data() {
    return {
      publicPath: process.env.BASE_URL,
      mesh: null,
      camera: null,
      scene: null,
      renderer: null,
      OrbitControls: null,
      firstPersonControls: null,
      clock: null,
      stats: null,
      gui: null,
      mesh: null,
      keyCodeW: false,
      keyCodeS: false,
      keyCodeA: false,
      keyCodeD: false,
    };
  },
  mounted() {
    this.init();
  },
  methods: {
    // 初始化
    init() {
      this.createScene(); // 创建场景
      this.loadObj(); // 加载OBJ模型
      this.createLight(); // 创建光源
      this.createCamera(); // 创建相机
      this.createRender(); // 创建渲染器
      this.createOrbitControls();
      // this.createFlyControls()// 创建第一人称控件
      this.render(); // 渲染
      // this.createGui()//创建图形控制器
      // 监听键盘是否按下
      window.addEventListener(
        "keydown",
        (e) => {
          var ev = e || window.event;
          switch (ev.keyCode) {
            case 87:
              this.keyCodeW = true;
              // console.log("w")
              break;
            case 83:
              this.keyCodeS = true;
              break;
            case 65:
              this.keyCodeA = true;
              break;
            case 68:
              this.keyCodeD = true;
              break;
            default:
              break;
          }
        },
        false
      );
      document.addEventListener(
        "keyup",
        (e) => {
          var ev = e || window.event;
          switch (ev.keyCode) {
            case 87:
              this.keyCodeW = false;
              break;
            case 83:
              this.keyCodeS = false;
              break;
            case 65:
              this.keyCodeA = false;
              break;
            case 68:
              this.keyCodeD = false;
              break;
            default:
              break;
          }
        },
        false
      );
    },
    // 创建场景
    createScene() {
      this.scene = new THREE.Scene();
      //创建一个坐标轴
      var axes = new THREE.AxesHelper(10000, 12000, 1000);
      this.scene.add(axes);
      //初始化帧率显示器
      this.stats = new Stat();
      //初始化 图形控制界面 datGUI
      this.gui = new dat.GUI();
    },
    loadObj() {
      const THIS = this;
      var geometry = new THREE.SphereGeometry(200, 32, 16); //创建一个球体几何对象
      // var geometry = new THREE.BoxGeometry(100, 100, 100) //创建一个立方体几何对象Geometry
      var material = new THREE.MeshBasicMaterial({
        color: 0x95e4e8, //材质的颜色
      }); //材质对象Material
      THIS.mesh = new THREE.Mesh(geometry, material); //网格模型对象Mesh
      // THIS.scene.add(THIS.mesh) //网格模型添加到场景中
      var folder3 = this.gui.addFolder("球的位置");
      folder3.add(THIS.mesh.position, "x", -100000, 60000, 10).name("球x");
      folder3.add(THIS.mesh.position, "y", -100, 300, 1).name("球y");
      folder3.add(THIS.mesh.position, "z", -90000, 10000, 10).name("球z");
      /// gui.add( obj对象 , "obj的属性",-5,5,步进).name("控制器重命名")
      THIS.mesh.position.set(0, 200, 0);
      const loader = new FBXLoader();
      loader.load(`${THIS.publicPath}Model/model2.fbx`, (model) => {
        model.traverse(function (child) {
          if (child.isMesh) {
            child.castShadow = true;
            child.receiveShadow = true;
          }
        });
        var folder4 = this.gui.addFolder("模型的位置");
        folder4.add(model.position, "x", -100000, 60000, 10).name("球x");
        folder4.add(model.position, "y", -100, 300, 1).name("球y");
        folder4.add(model.position, "z", -90000, 10000, 10).name("球z");
        /// gui.add( obj对象 , "obj的属性",-5,5,步进).name("控制器重命名")
        console.log(model);
        this.scene.add(model);
      });
    },
    setRandomColors(object, THIS) {
      const children = object.children;

      if (children && children.length > 0) {
        children.forEach(function (e) {
          THIS.setRandomColors(e, THIS);
        });
      } else {
        if (object instanceof THREE.Mesh) {
          const colorIndex = Math.floor(Math.random() * 3); // 0~2的随机数
          const colorArray = [
            new THREE.Color(0xff0000),
            new THREE.Color(0x00ff00),
            new THREE.Color(0x0000ff),
          ];
          object.material.emissive = colorArray[colorIndex];
          object.material.color = colorArray[colorIndex];
          object.material.transparent = true;
          object.material.opacity = 0.3;
        }
      }
    },
    // 创建光源
    createLight() {
      // 环境光
      const ambientLight = new THREE.AmbientLight(0xffffff, 0.8); // 创建环境光
      this.scene.add(ambientLight); // 将环境光添加到场景
      const spotLight1 = new THREE.SpotLight(0xffffff); // 创建聚光灯
      spotLight1.position.set(1500, 1500, 1500);
      spotLight1.castShadow = true;
      const spotLight2 = new THREE.SpotLight(0xffffff); // 创建聚光灯
      spotLight2.position.set(1500, 0, 1500);
      spotLight2.castShadow = true;
      const spotLight3 = new THREE.SpotLight(0xffffff); // 创建聚光灯
      spotLight3.position.set(0, 1500, 1500);
      spotLight3.castShadow = true;
      const spotLight4 = new THREE.SpotLight(0xffffff); // 创建聚光灯
      spotLight4.position.set(1500, 1500, 0);
      spotLight4.castShadow = true;
      this.scene.add(spotLight1, spotLight2, spotLight3, spotLight4);
    },
    // 创建相机
    createCamera() {
      const element = document.getElementById("container");
      let width = element.clientWidth; // 窗口宽度
      let height = element.clientHeight; // 窗口高度
      let k = width / height; // 窗口宽高比
      // PerspectiveCamera( fov, aspect, near, far )
      this.camera = new THREE.PerspectiveCamera(35, k, 0.1, 10000000);
      this.camera.position.set(2200, 500, 2200); // 设置相机位置
      this.camera.lookAt(new THREE.Vector3(-6570, 120, 5890)); // 设置相机方向
      this.scene.add(this.camera);
      //折叠为一个文件夹形式
      var folder1 = this.gui.addFolder("相机的位置");
      folder1.add(this.camera.position, "x", -100000, 60000, 50).name("x");
      folder1.add(this.camera.position, "y", 0, 50000, 50).name("相机的位置y");
      folder1
        .add(this.camera.position, "z", -90000, 12000, 50)
        .name("相机的位置z");
    },
    // 创建渲染器

    createRender() {
      const element = document.getElementById("container");
      this.renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
      this.renderer.setSize(element.clientWidth, element.clientHeight); // 设置渲染区域尺寸
      this.renderer.shadowMap.enabled = true; // 显示阴影
      this.renderer.shadowMap.type = THREE.PCFSoftShadowMap;
      this.renderer.setClearColor(0x95e4e8, 1); // 设置背景颜色
      element.appendChild(this.renderer.domElement);
      element.appendChild(this.stats.dom);
    },
    movecontrols() {
      let step = 20;
      if (this.keyCodeW) {
        this.mesh.position.x += step;
        this.mesh.rotation.z = step;
      }
      if (this.keyCodeA) {
        this.mesh.position.z -= step;
        this.mesh.rotation.x = step;
      }
      if (this.keyCodeS) {
        this.mesh.position.x -= step;
        this.mesh.rotation.z = step;
      }
      if (this.keyCodeD) {
        this.mesh.position.z += step;
        this.mesh.rotation.x = step;
      }
    },
    render() {
      const delta = this.clock.getDelta(); //获取自上次调用的时间差
      this.OrbitControls.update(delta); //更新第一人称控件
      // this.firstPersonControls.update(delta) //更新第一人称控件
      this.stats.update();
      this.movecontrols();
      this.renderer.render(this.scene, this.camera);
      requestAnimationFrame(this.render);
      window.addEventListener("resize", () => {
        const element = document.getElementById("container");
        let width = element.clientWidth; // 窗口宽度
        let height = element.clientHeight; // 窗口高度
        this.camera.aspect = width / height;
        this.camera.updateProjectionMatrix();
        // this.firstPersonControls.handleResize()
        this.OrbitControls.handleResize();
        //Renderer
        // this.gui.update()
        this.renderer.setSize(width, height);
      });
    },
    // // 创建第一人称控件
    // createFlyControls() {
    //   this.clock = new THREE.Clock()
    //   this.firstPersonControls = new FirstPersonControls(
    //     this.camera,
    //     this.renderer.domElement
    //   )
    //   this.firstPersonControls.enabled=false
    //   this.firstPersonControls.lookSpeed = 0.2 //鼠标移动查看的速度
    //   this.firstPersonControls.movementSpeed = 11 //相机移动速度
    //   this.firstPersonControls.noFly = true
    //   this.firstPersonControls.lookVertical = true
    //   this.firstPersonControls.constrainVertical = true //约束垂直
    //   this.firstPersonControls.verticalMin = 1.0
    //   this.firstPersonControls.verticalMax = 2.0
    //   this.firstPersonControls.lon = 45 //进入初始视角x轴的角度
    //   this.firstPersonControls.lat = 0 //初始视角进入后y轴的角度
    // },
    //创建鼠标控件
    createOrbitControls() {
      this.clock = new THREE.Clock();
      this.OrbitControls = new OrbitControls(
        this.camera,
        this.renderer.domElement
      );
      // this.OrbitControls.enabled=true
    },
  },
  destroyed() {
    this.socket.onclose = this.close;
  },
};
</script>
<style >
#container {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>
